@model BisnessLogic.Models.Publication
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <script>
        function printTextboxForErorrs() {
            var text = document.getElementById('TextErorrs');
            var dis = text.style.display;
            if (dis == 'none') {
                text.style.display = "block";
            }
        }
    </script>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Autor">Научный журнал</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="AddPublication">Добавить публикацию</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="../User/UpdateData">Изменить данные</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h3 style="text-align:center">Информация о публикации</h3>
    <label style="text-align:left; font-weight:bold">Название статьи:</label>
    <label>@Model.Title</label><br /><br />
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label style="font-weight:bold">Ключевые слова:</label><br />
                <textarea id="TextWords" name="words" cols="40" rows="12">@string.Join('\n', Model.KeyWords.ToArray())</textarea><br /><br />
            </div>
            <div class="col-sm">
                <label style="font-weight:bold">Аннотация:</label><br />
                <textarea id="TextAnnotation" name="annotation" cols="40" rows="12">@Model.Annotation</textarea><br /><br />
            </div>
        </div>
    </div>

    <h3 style="text-align:center">Инфромация для рецензирования:</h3>
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label style="font-weight:bold">Рубрика(и):</label><br />
                <p id="categories">
                    @foreach (var c in Model.Categories)
                    {
                        <input id="Checkbox1" checked="checked" name="category" type="checkbox" value="@c">@c<br />
                    }
                </p>
                <label style="font-weight:bold">Новизна:</label>
                <p id="novizna">
                    <input id="novizna1" name="category" type="checkbox"
                           value="Совершенно новые результаты" required>Совершенно новые результаты<br />
                    <input id="novizna2" name="category" type="checkbox"
                           value="Есть новые идеи">Есть новые идеи<br />
                    <input id="novizna3" name="category" type="checkbox"
                           value="Улучшают известные результаты">Улучшают известные результаты<br />
                    <input id="novizna4" name="category" type="checkbox"
                           value="Результаты известны">Результаты известны<br />
                </p>
                <div>
                    <label style="font-weight:bold">Укажите, в чем именно состоит новизна:</label><br/>
                    <textarea id="TextNew" required></textarea>
                </div>

                <div>
                    <label style="font-weight:bold">Корректность работы и полученных выводов:</label>
                    <p id="corect">
                        <input id="corect1" name="category" type="checkbox"
                               value="Полностью корректно">Полностью корректно<br />
                        <input id="corect2" name="category" type="checkbox"
                               value="Не содержит явных ошибок">Не содержит явных ошибок<br />
                        <input id="corect3" name="category" type="checkbox"
                               value="Есть мелкие ошибки" onclick="printTextboxForErorrs();">Есть мелкие ошибки<br />
                        <input id="corect4" name="category" type="checkbox"
                               value="Есть серьезные ошибки" onclick="printTextboxForErorrs();">Есть серьезные ошибки<br />
                    </p>
                </div>

                <div id="TextErorrs" style="display:none">
                    <label style="font-weight:bold">Укажите, в чем именно содержатся ошибки:</label><br/>
                    <textarea id="TextEror" required></textarea>
                </div>

                <div>
                    <label style="font-weight:bold">Значимость работы:</label><br>
                    <p id="znach">
                        <input id="corect1" name="category" type="checkbox"
                               value="Значимость работы">Значимость работы<br />
                        <input id="corect2" name="category" type="checkbox"
                               value="Полезна">Полезна<br />
                        <input id="corect3" name="category" type="checkbox"
                               value="Для ограниченного круга">Для ограниченного круга<br />
                        <input id="corect4" name="category" type="checkbox"
                               value="Малоинтересна">Малоинтересна<br />
                    </p>
                    <label>
                        Укажите, для какого круга специалистов статья будет интересна, в том числе
                        практическую значимость работы, оцените перспективу реализации результатов.
                    </label>
                    <textarea required></textarea>
                </div>
            </div>

            <div class="col-sm">
                <label style="font-weight:bold">Полнота исследования:</label>
                <p id="polnota">
                    <input id="polnota1" name="category" type="checkbox"
                           value="Исчерпывающее исследование">Исчерпывающее исследование<br />
                    <input id="polnota2" name="category" type="checkbox"
                           value="Достаточная полнота исследования">Достаточная полнота исследования<br />
                    <input id="polnota3" name="category" type="checkbox"
                           value="Необходимо дополнительное исследование">Необходимо дополнительное исследование<br />
                    <input id="polnota4" name="category" type="checkbox"
                           value="Совершенно недостаточно">Совершенно недостаточно<br />
                </p>
                <label style="font-weight:bold">Ясность изложения:</label>
                <p id="izloj">
                    <input id="izloj1" name="category" type="checkbox"
                           value="Читается легко">Читается легко<br />
                    <input id="izloj2" name="category" type="checkbox"
                           value="Вполне ясно">Вполне ясно<br />
                    <input id="izloj3" name="category" type="checkbox"
                           value="Затруднительно для понимания">Затруднительно для понимания<br />
                    <input id="izloj4" name="category" type="checkbox"
                           value="Нечитаемо">Нечитаемо<br />
                </p>
                <label style="font-weight:bold">Рекомендации:</label>
                <p id="recomend">
                    <input id="recomend1" name="recomends" type="checkbox"
                           value="Не нуждается в сокращении">Не нуждается в сокращении<br />
                    <input id="recomend2" name="recomends" type="checkbox"
                           value="Нуждается в сокращении">Нуждается в сокращении<br />
                    <input id="recomend3" name="recomends" type="checkbox"
                           value="Нуждается в переработке">Нуждается в переработке<br />
                    <input id="recomend4" name="recomends" type="checkbox"
                           value="Неоправданно много формул">Неоправданно много формул<br />
                    <input id="recomend5" name="recomends" type="checkbox"
                           value="Неоправданно много рисунков">Неоправданно много рисунков<br />
                    <input id="recomend6" name="recomends" type="checkbox"
                           value="Неоправданно много таблиц">Неоправданно много таблиц<br />
                    <input id="recomend7" name="recomends" type="checkbox"
                           value="Неоправданно много текста">Неоправданно много текста<br />
                </p>
                <label style="font-weight:bold"></label>
                <p id="result">
                    <input id="result1" name="results" type="checkbox"
                           value="Отлично">Отлично<br />
                    <input id="result2" name="results" type="checkbox"
                           value="Хорошо">Хорошо<br />
                    <input id="result3" name="results" type="checkbox"
                           value="Удовлетворительно">Удовлетворительно<br />
                    <input id="result4" name="results" type="checkbox"
                           value="Плохо">Плохо<br />
                </p>
                <label style="font-weight:bold">Приведите ниже развернутую оценку содержания статьи:</label><br />
                <textarea required></textarea><br />
                <label style="font-weight:bold">
                    Наличие обязательных блоков текста: аннотации, ключевых слов, списка источников, авторского блока с адресами.
                    Соответствие техническим требованиям оформления: параметры страниц, стили, иллюстрации, библиография, рекомендуемый объем.
                </label>
                <p>
                    <input id="result1" name="results" type="checkbox"
                           value="Полностью корректно">Полностью корректно<br />
                    <input id="result2" name="results" type="checkbox"
                           value="Есть мелкие ошибки">Есть мелкие ошибки<br />
                    <input id="result3" name="results" type="checkbox"
                           value="Есть серьезные ошибки">Есть серьезные ошибки<br />
                    <input id="result4" name="results" type="checkbox"
                           value="Не соответствует всем требованиям">Не соответствует всем требованиям<br />
                </p>
                <label style="font-weight:bold">Заключение о публикации статьи:</label>
                <p>
                    <input id="result1" name="results" type="checkbox"
                           value="Опубликовать">Опубликовать<br />
                    <input id="result2" name="results" type="checkbox"
                           value="Опубликовать после устранения замечаний">Опубликовать после устранения замечаний<br />
                    <input id="result3" name="results" type="checkbox"
                           value="Требуются серьезная переработка и дополнительное рецензирование">
                    Требуются серьезная переработка и дополнительное рецензирование<br />
                    <input id="result4" name="results" type="checkbox"
                           value="Не рекомендуется к публикации">Не рекомендуется к публикации<br />
                </p>
            </div>

        </div>


            <div class="row">
                <label style="font-weight:bold">Автор(ы):</label><br />
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Почта</th>
                            <th>Номер телефона</th>
                            <th>Место работы</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var autor in Model.Autors)
                        {
                            <tr>
                                <td>@autor.LastName</td>
                                <td>@autor.Name</td>
                                <td>@autor.Otch</td>
                                <td>@autor.Email</td>
                                <td>@autor.Phone</td>
                                <td>@autor.Work</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-lg btn-primary">Создать рецензию</button>
            </div>
        </div>
</body>
</html>